./.idea/
./cpp_tensorRT/.idea/
./cpp_tensorRT/cmake-build-debug/
#./py_pytorch/__pycache__/

./cpp_tensorRT/CMakeLists.txt
./cpp_tensorRT/cnn.wts
./cpp_tensorRT/submission.csv
./data/sample_submission.csv